
@import './reset';
body{
    max-width: 1920px;
    background: #1A212E;
    font-family: "Geologica", sans-serif;
    color: #fff;
}
.element-animation{
    opacity: 0;
    transform: translateY(-20px);
}
.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}
.wrap{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1210px;
    width: 100%;
}