<header class="header">
    <div class="header__body desktop">
        <div class="header__body-top">
            <div class="header__body-top-text">
                <span>г. Красноярск, Аэропорт Емельяново</span>
                <span>Режим работы: круглосуточно</span>
            </div>
            <div class="header__body-top-social">
                <a href="mailto:booking@sks.aero">booking@sks.aero</a>
                <a href="tel:+73912904664">+7 (391) 290-46-64</a>
                <a href="tel:+73912904664">Обратный звонок</a>
            </div>
        </div>
        <div class="header__body-line"></div>
        <div class="header__body-bot">
            <a href="" class="header__body-bot-logo">
                <img src="../images/dist/header__logo.png" alt="">
            </a>
            <nav class="header__body-bot-nav">
                <ul class="header__body-bot-nav-list">
                    <li class="header__body-bot-nav-list-item">
                        <a href="">О компании</a>
                    </li>
                    <li class="header__body-bot-nav-list-item">
                        <a href="">Клиентам</a>
                    </li>
                    <li class="header__body-bot-nav-list-item">
                        <a href="">Контакты</a>
                    </li>
                    <li class="header__body-bot-nav-list-item">
                        <a href="">партнерам</a>
                    </li>
                </ul>
            </nav>
            <div class="header__body-bot-buttons">
                <button class="header__body-bot-buttons-item">
                    Статус груза
                </button>
                <button class="header__body-bot-buttons-item">
                    Личный кабинет
                </button>
            </div>
        </div>
    </div>
    <div class="header__mobile mobile">
        <div class="header__mobile-top">
            <a href="" class="header__body-bot-logo">
                <img src="../images/dist/header__logo.png" alt="">
            </a>
            <div class="header__mobile-top-burger">
                <div class="burger__wrap">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="header__mobile-bot">
            <nav class="header__body-bot-nav">
                <ul class="header__body-bot-nav-list">
                    <li class="header__body-bot-nav-list-item">
                        <a href="">О компании</a>
                    </li>
                    <li class="header__body-bot-nav-list-item">
                        <a href="">Клиентам</a>
                    </li>
                    <li class="header__body-bot-nav-list-item">
                        <a href="">Контакты</a>
                    </li>
                    <li class="header__body-bot-nav-list-item">
                        <a href="">партнерам</a>
                    </li>
                </ul>
            </nav>
            <div class="header__body-bot-buttons">
                <button class="header__body-bot-buttons-item">
                    Статус груза
                </button>
                <button class="header__body-bot-buttons-item">
                    Личный кабинет
                </button>
            </div>
        </div>
    </div>
</header>
<section class="doc">
    <div class="container">
        <div class="doc__body">
            <h1 class="doc__body-title">Как отправить груз</h1>
            <h2 class="doc__body-softtitle">Бронирование:</h2>
            <p class="doc__body-desc">Примечание: для бронирования груза необходимо предоставить следующую информацию:</p>
            
            <p class="doc__body-desc">Чтобы осуществить авиаперевозку в ООО «Сибирь Карго Сервис» необходимо предварительно отправить заявку для бронирования находящуюся на нашем сайте или обратиться с запросом на e-mail: <a href="mailto:">booking@sks.aero</a> или по телефону (391) 290-46-64 к специалисту по грузовым перевозкам.</p>
            
            
            <ul class="doc__body-listdisc">
                <li>данные о грузоотправителе</li>
                <li>данные о грузополучателе</li>
                <li>данные о плательщике</li>
                <li>авиакомпанию и дату, на которую вы хотели бы осуществить перевозку</li>
                <li>количество мест</li>
                <li>вес</li>
                <li>габариты груза максимально точные для более корректного расчета авиаперевозки</li>
            </ul>
            <p class="doc__body-desc">При получении подтверждения бронирования груза, грузоотправитель сдает груз на грузовой терминал.</p>
            <h2 class="doc__body-softtitle">Сдача груза на склад ГТ:</h2>
            <ul class="doc__body-listdecimal out">
                <li>Для сдачи груза необходимо обратиться в окно №3-5 клиентского зала к специалисту по грузовым перевозкам для получения «Заявки на обработку груза» (если грузоотправитель является агентом Авиакомпании) / «Заявки на авиаперевозку груза» (если грузоотправитель является владельцем груза) и пропуска для въезда транспортного средства на территорию грузового терминала.</li>
                <li>В случае если груз является опасным грузоотправитель, обращается к Специалисту по оформлению опасных грузов окно №6  (тел. (391) 290-47-20) для прохождения экспертизы на предмет наличия опасных и специальных грузов, где представляет сопроводительные документы на отправляемый груз, позволяющие определить характер груза и возможность его к безопасной перевозке;</li>
                <li>При отправке груза растительного или животного происхождения, необходимо пройти оформление в подразделении Россельхознадзора:
                    <br>Фитосанитарный контроль –   телефон (391) 227-63-35;
                    <br>Ветеринарный контроль – телефон +7 (902) 992-56-41.</li>
                <li>авиакомпанию и дату, на которую вы хотели бы осуществить перевозку</li>
                <li>Если груз следует за пределы РФ необходимо произвести таможенное оформление груза в соответствии с таможенным законодательством (отдел таможенного оформления находится на 3 этаже грузового терминала). Процесс таможенного оформления считается завершенным после получения декларации и авианакладной со штампом «выпуск разрешен».</li>
                <li>Получив заявку грузоотправителю необходимо проверить внесенные с его слов данные и поставить подпись, далее направиться на складе для сдачи груза.</li>
                <li>На складе в зоне приёма груза, грузоотправитель, представляет «Заявку на обработку груза» /«Заявки на авиаперевозку груза» и предназначенный к авиаперевозке груз. Инспектор пункта досмотра «Службы авиационной безопасности» (Инспектор САБ) проводит досмотр груза, ставит необходимые отметки и передает сопроводительную документацию приемосдатчику. Приемосдатчик производит прием груза, вносит данные о грузе (количество, вес, габариты) ставит отметку (штамп) в «Заявке на обработку груза» /«Заявки на авиаперевозку.</li>
                <li>После сдачи груза грузоотправитель возвращается к специалисту по грузовым перевозкам окно №3-5 для расчета стоимости услуг, далее в кассу для оплаты услуг и получения документов (грузовую авианакладную, чек, счет-фактура, акт – выполненных работ).</li>
            </ul>
            <h2 class="doc__body-softtitle">Сдача груза на склад ГТ:</h2>
            <p class="doc__body-desc">Груз «200» имеет высший приоритет и отправляется в первую очередь.</p>
            <p class="doc__body-desc">Документы, необходимые для оформления авиаперевозки груза «200»:</p>
            <ul class="doc__body-listdisc">
                <li>«свидетельство о смерти», выданное органами ЗАГС;</li>
                <li>справка от санитарного органа об отсутствии с их стороны препятствий к перевозке покойника;</li>
                <li>справка о качестве запайки металлической обшивки гроба;</li>
                <li>авиабилет на рейс, на котором перевозится груз при авиаперевозке груза «200» с сопровождающим;</li>
                <li>письмо из авиакомпании на чьем рейсе перевозится груз, о согласовании авиаперевозки при авиаперевозке груза «200» без сопровождения.</li>
            </ul>
            <h2 class="doc__body-softtitle">К перевозке воздушным транспортом груз «200» допускается в:</h2>
            <ul class="doc__body-listdisc out">
                <li>металлических или обшитых листовым металлом деревянных гробах, тщательно запаянных, вложенных в деревянные ящики, свободное пространство между металлическим гробом и деревянным ящиком должно быть засыпано опилками, торфом или известью;</li>
                <li>урнах с прахом, вложенных в ящики, оббитые плотной тканью.</li>
            </ul>
            <h2 class="doc__body-softtitle">Условия приема груза на склад:</h2>
            <ul class="doc__body-listdisc out">
                <li>Исправная упаковка, отвечающая требованиям сохранности при перевозке;</li>
                <li>Груз принимается на склад упакованным и маркированным в соответствии с требованиями, предъявляемым при перевозке грузов воздушным транспортом;</li>
                <li>Исправная маркировка каждого грузового места;</li>
                <li>Маркировка отправителя – адрес отправителя и получателя;</li>
                <li>Специальная маркировка, включающая манипуляционные знаки по обращению с грузом;</li>
                <li>Грузы специальных категорий (живые животные, человеческие останки, ценные, опасные, скоропортящиеся грузы, а также грузы, подлежащие ветеринарному и  фитосанитарному контролю) должны сопровождаться комплектом обязательных документов, отправляемых вместе с грузом.</li>
            </ul>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="footer__body">
        <div class="footer__body-start">
            <div class="footer__body-start-logo">
                <img src="../images/dist/header__logo.png" alt="">
                <p>ООО “Сибирь Карго Сервис” - Грузовой терминал аэропорта «Красноярск»</p>
            </div>
            <nav class="footer__body-start-nav">
                <ul class="footer__body-start-nav-list">
                    <li class="footer__body-start-nav-list-item">
                        <a href="">О компании</a>
                    </li>
                    <li class="footer__body-start-nav-list-item">
                        <a href="">Клиентам</a>
                    </li>
                    <li class="footer__body-start-nav-list-item">
                        <a href="">Контакты</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer__body-start-social">
                <ul class="footer__body-start-social-list">
                    <li class="footer__body-start-social-list-item">
                        г. Красноярск, Аэропорт Емельяново
                    </li>
                    <li class="footer__body-start-social-list-item">
                        Режим работы: круглосуточно
                    </li>
                    <li class="footer__body-start-social-list-item">
                        <a class="tel" href="tel:+73912904664">+7 (391) 290-46-64</a>
                    </li>
                    <li class="footer__body-start-social-list-item">
                        <a class="footer__mail" href="mailto:booking@sks.aero">booking@sks.aero</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__body-start-buttons">
                <button class="header__body-bot-buttons-item">
                    Статус груза
                </button>
                <button class="header__body-bot-buttons-item">
                    Личный кабинет
                </button>
            </div>
        </div>
        <div class="footer__body-line"></div>
        <div class="footer__body-end">
            <div class="footer__body-end-item">
                ©️ ООО СКС 2024
            </div>
            <div class="footer__body-end-item">
                <p>Все права защищены</p>
                <a href="">Политика конфиденциальности</a>
            </div>
            <div class="footer__body-end-item">
                Создание сайта: <span>Big Time</span>
            </div>
        </div>
    </div>
</footer>