<header class="header">
    <div class="header__body desktop">
        <div class="header__body-top">
            <div class="header__body-top-text">
                <span>г. Красноярск, Аэропорт Емельяново</span>
                <span>Режим работы: круглосуточно</span>
            </div>
            <div class="header__body-top-social">
                <a href="mailto:booking@sks.aero">booking@sks.aero</a>
                <a href="tel:+73912904664">+7 (391) 290-46-64</a>
                <a href="tel:+73912904664">Обратный звонок</a>
            </div>
        </div>
        <div class="header__body-line"></div>
        <div class="header__body-bot">
            <a href="" class="header__body-bot-logo">
                <img src="../images/dist/header__logo.png" alt="">
            </a>
            <nav class="header__body-bot-nav">
                <ul class="header__body-bot-nav-list">
                    <li class="header__body-bot-nav-list-item">
                        <a href="">О компании</a>
                    </li>
                    <li class="header__body-bot-nav-list-item">
                        <a href="">Клиентам</a>
                    </li>
                    <li class="header__body-bot-nav-list-item">
                        <a href="">Контакты</a>
                    </li>
                    <li class="header__body-bot-nav-list-item">
                        <a href="">партнерам</a>
                    </li>
                </ul>
            </nav>
            <div class="header__body-bot-buttons">
                <button class="header__body-bot-buttons-item">
                    Статус груза
                </button>
                <button class="header__body-bot-buttons-item">
                    Личный кабинет
                </button>
            </div>
        </div>
    </div>
    <div class="header__mobile mobile">
        <div class="header__mobile-top">
            <a href="" class="header__body-bot-logo">
                <img src="../images/dist/header__logo.png" alt="">
            </a>
            <div class="header__mobile-top-burger">
                <div class="burger__wrap">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="header__mobile-bot">
            <nav class="header__body-bot-nav">
                <ul class="header__body-bot-nav-list">
                    <li class="header__body-bot-nav-list-item">
                        <a href="">О компании</a>
                    </li>
                    <li class="header__body-bot-nav-list-item">
                        <a href="">Клиентам</a>
                    </li>
                    <li class="header__body-bot-nav-list-item">
                        <a href="">Контакты</a>
                    </li>
                    <li class="header__body-bot-nav-list-item">
                        <a href="">партнерам</a>
                    </li>
                </ul>
            </nav>
            <div class="header__body-bot-buttons">
                <button class="header__body-bot-buttons-item">
                    Статус груза
                </button>
                <button class="header__body-bot-buttons-item">
                    Личный кабинет
                </button>
            </div>
        </div>
    </div>
</header>
<section class="doc">
    <div class="container">
        <div class="doc__body">
            <h1 class="doc__body-title">Образцы документов</h1>
            <h2 class="doc__body-softtitle">Заполняемые формы.</h2>
            <p class="doc__body-desc"><a href="https://sks.aero/wp-content/uploads/2021/04/%D0%B4%D0%B5%D0%BA%D0%BB%D0%B0%D1%80%D0%B0%D1%86%D0%B8%D1%8F-2021_%D1%84%D0%BE%D1%80%D0%BC%D0%B0.pdf">Декларация безопасности перевозимого груза</a></p>
            <p class="doc__body-desc"><a href="https://sks.aero/wp-content/uploads/2019/04/%D0%97%D0%B0%D1%8F%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BD%D0%B0-%D0%B2%D1%8B%D0%B4%D0%B0%D1%87%D1%83-%D0%BE%D1%82%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D1%8F%D0%B5%D0%BC%D0%BE%D0%B3%D0%BE-%D0%B3%D1%80%D1%83%D0%B7%D0%B0-%D1%81%D0%BE-%D1%81%D0%BA%D0%BB%D0%B0%D0%B4%D0%B0.pdf">Заявление на выдачу отправляемого груза</a></p>
            <p class="doc__body-desc"><a href="https://sks.aero/wp-content/uploads/2022/11/%D0%97%D0%90%D0%AF%D0%92%D0%9A%D0%90-%D0%BD%D0%B0-%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D1%83-%D0%BF%D1%80%D0%B8%D0%B1%D1%8B%D0%B2%D1%88%D0%B5%D0%B3%D0%BE-%D0%B3%D1%80%D1%83%D0%B7%D0%B0_22.pdf">Заявка на обработку прибывшего груза.</a></p>
            <p class="doc__body-desc"><a href="https://sks.aero/wp-content/uploads/2022/11/dogovor_2022.pdf">Типовой договор на оказание услуг грузовым терминалом</a></p>
            <p class="doc__body-desc"><a href="https://sks.aero/wp-content/uploads/2022/11/Dopolnitelnoye_soglashenie_2022-2.pdf">Дополнительное соглашение к договору на оказание услуг грузовым терминалом</a></p>
            <h2 class="doc__body-softtitle">Примеры договоров:</h2>
            <p class="doc__body-desc"><a href="https://sks.aero/wp-content/uploads/2019/01/%D0%94%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80-%D0%BD%D0%B0-%D0%BE%D0%BA%D0%B0%D0%B7%D0%B0%D0%BD%D0%B8%D0%B5-%D1%83%D1%81%D0%BB%D1%83%D0%B3-%D0%93%D0%A2.pdf">Типовой договор на оказание услуг грузовым терминалом (с приложениями)</a></p>
            <p class="doc__body-desc"><a href="https://sks.aero/wp-content/uploads/2019/01/%D1%82%D0%B8%D0%BF%D0%BE%D0%B2%D0%BE%D0%B9-%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80-2019.pdf">Типовой договор на оказание услуг грузовым терминалом (без приложений)</a></p>
            <p class="doc__body-desc"><a href="https://sks.aero/wp-content/uploads/2019/01/%D0%94%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80-%D1%82%D1%80%D0%B0%D0%BD%D1%81%D0%BF%D0%BE%D1%80%D1%82%D0%BD%D0%BE%D0%B9-%D1%8D%D0%BA%D1%81%D0%BF%D0%B5%D0%B4%D0%B8%D1%86%D0%B8%D0%B8.pdf">Договор транспортной экспедиции</a></p>
            <h2 class="doc__body-softtitle">Формы согласия</h2>

            <p class="doc__body-desc"><a href="">Форма согласия для юридических лиц</a></p>
            <p class="doc__body-desc"><a href="">Форма согласия для физических лиц</a></p>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="footer__body">
        <div class="footer__body-start">
            <div class="footer__body-start-logo">
                <img src="../images/dist/header__logo.png" alt="">
                <p>ООО “Сибирь Карго Сервис” - Грузовой терминал аэропорта «Красноярск»</p>
            </div>
            <nav class="footer__body-start-nav">
                <ul class="footer__body-start-nav-list">
                    <li class="footer__body-start-nav-list-item">
                        <a href="">О компании</a>
                    </li>
                    <li class="footer__body-start-nav-list-item">
                        <a href="">Клиентам</a>
                    </li>
                    <li class="footer__body-start-nav-list-item">
                        <a href="">Контакты</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer__body-start-social">
                <ul class="footer__body-start-social-list">
                    <li class="footer__body-start-social-list-item">
                        г. Красноярск, Аэропорт Емельяново
                    </li>
                    <li class="footer__body-start-social-list-item">
                        Режим работы: круглосуточно
                    </li>
                    <li class="footer__body-start-social-list-item">
                        <a class="tel" href="tel:+73912904664">+7 (391) 290-46-64</a>
                    </li>
                    <li class="footer__body-start-social-list-item">
                        <a class="footer__mail" href="mailto:booking@sks.aero">booking@sks.aero</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__body-start-buttons">
                <button class="header__body-bot-buttons-item">
                    Статус груза
                </button>
                <button class="header__body-bot-buttons-item">
                    Личный кабинет
                </button>
            </div>
        </div>
        <div class="footer__body-line"></div>
        <div class="footer__body-end">
            <div class="footer__body-end-item">
                ©️ ООО СКС 2024
            </div>
            <div class="footer__body-end-item">
                <p>Все права защищены</p>
                <a href="">Политика конфиденциальности</a>
            </div>
            <div class="footer__body-end-item">
                Создание сайта: <span>Big Time</span>
            </div>
        </div>
    </div>
</footer>